<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <center>
            <h3>Send Informations</h3>
            <form action="/send" method="POST">
                <label for="name">Name: </label> <br />
                <input type="text" name="name" id="name" /><br />
                <label for="message">Message: </label><br />
                <input type="text" name="message" id="message" /><br />
                <input type="submit" value="Send" />
                <input type="reset" value="clear" />      
            </form>
        </center>
        
    </body>
</html>